@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

:root {
  --font-poppins: 'Poppins', sans-serif;
}

.poppins {
  font-family: var(--font-poppins);
}